<% provide(:title, "GIFT LOGとは？") %>

<div class="card">
  <%= image_tag 'about.jpg', size: '1100x300', class: "card-img opct opacity-50" %>
  <div class="card-img-overlay d-flex align-items-center justify-content-center">
    <h1 class="text-danger font-weight-bold" >GIFT LOGとは？</h1>
  </div>
</div>
<div class="text-center w-75 mx-auto">
<p>誰かに何かプレゼントを贈りたいと思った時、あなたはどうしますか？
<br>色々とお店を見て回って選ぶ。ショッピングサイトで見比べてみる。
<br>相手が喜ぶ姿を想像しながら、プレゼント選びをするのは楽しいですよね。</p>
<p>でも、こう思ったことはありませんか？
<div class="text-danger">
  <br>「どれも何となく良さそうだけど、決め手がない！！」<br>「これあげて喜んでくれるかな？？」
  <br>「サイトで見つかるの何か無難でオモロないなー」
</div>
</p>
<p>プレゼントを渡す相手に直接何が欲しいのか、聞くのが一番早いかもしれませんが、サブライズがプレゼントの醍醐味でもあります。
<br>そんな時に誰かに相談できれば良いですが、
<div class="text-danger">
<br>「彼女にプレゼントを贈りたいけど、周りに相談できそうな女友達がいない！」
<br>「高校に合格した甥っ子にお祝いしてあげたいけど、今時の年頃の子って何あげたら喜ぶん？」
<br>「職場の上司(50代♂)が何もらって喜ぶかなんて知らんわ！」
<br>「とにかく色んな人の意見を聞いてみたい！」
</div>
<br>と、こんな問題にぶち当たります。
</p>
<p>そんな時に、プレゼント選びに関する悩みや疑問をユーザー同士で質問、回答し合い解決できる
<h2><span class="text-success">「プレゼント選びに特化したQ&Aサイト」</span>です！！</h2>
<p>また、身近な人の誕生日や好きなもの、趣味などをメモ書きしたり、過去に何を贈ったかをメモしたりすることもできます。あなただけのギフトログとして活用してみてください！</p>
</div>

<h2>GIFT LOGでできること</h2>

<h3>質問を探す</h3>
<p>・ホーム<i class="fas fa-home"></i>の投稿一覧で、投稿を見ることができます。
<br>知りたいことが過去の投稿で見つかるかもしれないので、他のユーザーの投稿を見てみましょう。
<br>・過去の投稿を見てもお困りの場合は、是非投稿してみましょう。プレゼント選びに関して、百戦錬磨のユーザーの貴重な意見を聞けるかもしれません。
<br>・他のユーザーが投稿をしていたら、是非コメントをしてあげましょう。あなたのコメントで救われる人がいるかも？？
<br>・ログインしていただくと、「質問投稿」、「投稿にコメント」、「投稿にいいね<i class="fa fa-heart"></i>」、「他のユーザーのためになったコメントにいいね<i class="far fa-kiss-wink-heart"></i>」ができます。</p>

<h3>ユーザー登録</h3>
<p>・ユーザー登録をすると、質問の投稿やコメント等できることが増えます。
<br>・ログイン後、メニューバーのマイメニューから、
<br>自分の投稿一覧や、いいねorコメントした投稿の一覧を閲覧することができます。
<br>自分の「登録情報の変更<i class="fas fa-cog"></i>」、「フォロー/フォロワーリストの閲覧<i class="fas fa-handshake"></i>」ができます。
<br>・他のユーザーのマイページにアクセスするとそのユーザーの情報を見ることができます。</p>


<h3>大切な人、贈ったもの登録</h3>
<p>・ログイン後、メニューバーの大切な人リスト<i class="fas fa-hand-holding-heart"></i>から、
<br>自分の身近な人の名前や写真、誕生日などを自由に登録することができます。もちろんあなたにしか見ることができないページです。
<br>また、その人に過去に贈ったものを記録することもできます。
<br>「前の誕生日の時、〇〇さんに何贈ったかなー」とか、「あれあげた時、〇〇さんのリアクションこうだったなー」と記録することができ、後で見返すこともできます。
</p>

<h2>さっそくGIFT LOGをはじめる</h2>

<%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-success mb-3" %>
<br><%= link_to "ログイン", login_path, class: "btn btn-lg btn-danger mb-3" %>
<br><%= link_to "まずは登録せずに始める", root_path, class: "btn btn-lg btn-dark" %>
