<% provide(:title, 'ユーザーリスト') %>

<div>
<h1 class="text-center">ユーザーリスト</h1>
<div>
  <%= render @users %>
  <%= paginate @users, theme: 'twitter-bootstrap-4' , pagination_class: "justify-content-center" %>
</div>
</div>