<% provide(:title, @title) %>
  <div>
    <h1 class="text-center"><%= @title %></h3>
    <%= link_to "フォロワー", followers_user_path(@user) %>
    <% if @users.any? %>
      <%# <ul> %>
        <%= render @users %>
        <%= paginate @users %>
      <%# </ul> %>
    <% end %>
  </div>