<% provide(:title, @title) %>
<div>
    <h3>贈ったものリスト</h3>
    <%= link_to "登録する", new_gift_path %>
    <% if @gifts.any? %>
      <ul>
        <%= render @gifts %>
        <%= paginate @gifts %>
      </ul>
    <% end %>
</div>