@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "bootstrap/bootstrap-tooltip";

body {
  background-color: #dedede;
}

// ヘッダーメニュー
.mymenu {
  width: 175px;
  height: 110px;
  text-align: center;
}
// ヘッダーメニュー ここまで

// 投稿一覧の表示
.post-content {
  text-align: left;
}
// 投稿一覧の表示 ここまで

// 投稿詳細ページ 投稿内容
.post-show-content {
  text-align: left;
}
// 投稿詳細ページ 投稿内容 ここまで

// ユーザー情報
.user-info {
  text-align: left;
}
// ユーザー情報 ここまで

// 大切な人情報
.favorite-person-info {
  text-align: left;
}
// 大切な人情報 ここまで

// 贈ったもの情報
.gift-info {
  text-align: left;
}
// 贈ったもの情報 ここまで

// コメントチャット風
#chat-frame {
  min-width: 320px;
  max-width: 800px;
  margin: auto;
  padding: 1em 2em;
  background-color: #f8f9fa;
}
.chat-talk {
  overflow: hidden;
  margin: 0 0 1em 0;
  padding: 0;
}
.chat-talk span {
  display: block;
  margin: 0;
  padding: 0;
}
.chat-talk .talk-icon {
  float: left;
  width: auto;
}
.chat-talk .talk-content {
  position: relative;
  box-sizing: border-box;
  width: auto;
  min-height: 50px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px #000;
  margin: 0 auto 0 70px;
  padding: 1em;
}

// .chat-talk .talk-icon img {
  // max-width: 100%;
  // height: auto;
  // vertical-align: bottom;
  // border: 2px solid #fff;
  // border-radius: 50%;
// }

.chat-talk .talk-content:before {
  position: absolute;
  top: 15px;
  left: -20px;
  display: block;
  width: 0;
  height: 0;
  content: '';
  border: 10px solid transparent;
  // border-right-color: #FFFFFF;
  border-right-color: #000;
}
.chat-talk.mytalk .talk-icon {
  float: right;
}
.chat-talk.mytalk .talk-content {
  margin: 0 70px 0 auto;
  color: #000;
  background: #78ff6c;
}
.chat-talk.mytalk .talk-content:before {
  right: -20px;
  left: auto;
  border-color: transparent;
  // border-left-color: #78FF6C;
  border-left-color: #000;
}
// コメントチャット風 ここまで

// ホーム画像
.heading {
  font-family: HanziPen SC;
  font-weight: 900;
  font-size: 60px;
  color: black;
}
// ホーム画像 ここまで

// heading画像
.heading-image {
  opacity: 0.7;
}
// heading画像 ここまで

#logo {
  margin-left: 3%;
}

.row-5 {
  height: calc( 1.3em * 5 );
  line-height: 1.3;
}

// ハンバーガーメニュー レスポンシブ対応
@media screen and (max-width:991px) {
  .menu-item {
    margin-top: 5%;
  }
  .about-image {
    display: none;
  }
}
// ハンバーガーメニュー レスポンシブ対応 ここまで

// ハンバーガーメニュー色
.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30'
  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(999, 999, 999, 1)'
  stroke-width='3' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
// ハンバーガーメニュー色 ここまで

// Aboutページ
.about-feeling {
  color: red;
  margin-top: 3%;
  margin-bottom: 3%;
}
.about-question {
  color: blue;
  margin-top: 3%;
  margin-bottom: 3%;
}

.catch-copy {
  color: green;
  border-bottom: dashed green 1px;
}

.about-texts {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.first-sentence {
  font-weight: bold;
  display: inline-block;
  border-bottom: solid black 1px;
}

.about-text {
  margin-top: 3%;
  margin-bottom: 3%;
}

.about-heading {
  text-align: center;
  display: inline-block;
  border-bottom: solid black 1px;
  margin-bottom: 3%;
  margin-top: 3%;
  font-weight: 700;
}

.wrapper {
  text-align: center;
}

// .good-point {
//   margin-bottom: 5%;
// }

.good-point {
  padding-top: 5%;
  width:90%;
  margin: 0 auto;
  border-bottom: solid black 1px;
}

.good-point-texts {
  margin-left: 1%;
}

.thinking-image {
  float: right;
}

.signup-image {
  float: left;
  margin-top: 1%;
}

.gifts-image {
  float: right;
  margin-top: 1%;
}

.clear {
  clear: both;
}

.starts {
  text-align: center;
}

.about-buttons {
  clear: both;
}