<footer class="footer">
    <% if false %>
    <nav class="navbar navbar-expand bg-danger">
      <ul class="list-unstyled navbar-nav">
        <li class="nav-item mr-5"><%= link_to "Gift logとは", about_path, class: "text-white" %></li>
        <li class="nav-item mr-5"><%= link_to "お問い合わせ", contact_path, class: "text-white" %></li>
      </ul>
    </nav>
    <% end %>
    <div class="text-center">
      <small>@copyright.</small>
    </div>
</footer>
