<footer class="footer">
  <small>@copyright.</small>
  <nav>
    <ul>
      <li><%= link_to "Gift logとは", about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>
